{% extends "base.html" %}

{% block content_2 %}

    <section class="px-4 px-md-5 py-4">
        <h3 class="text-center text-dark mx-auto" style="max-width: 500px;">
            Restaura tu contraseña
        </h3>

        <div class="mx-auto mt-3" style="max-width: 500px;">

            {% include "_messages.html" %}

            <p class="mb-1">En este formulario podrás crear una nueva contraseña. Recuerda que tu contraseña debe cumplir con los siguientes requisitos</p>

            <ul>
                <li>Tu contraseña no puede contener tu nombre, apellido o correo.</li>
                <li>Tu contraseña debe tener al menos 8 caracteres.</li>
                <li>Tu contraseña debe tener letras y números.</li>
            </ul>

            <form action="" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                <div class="mt-4">
                    <label for="password" class="form-label">
                        Nueva contraseña
                    </label>
                    <input type="password" class="form-control" id="password" name="new_password1" required>
                </div>

                <div class="mt-4">
                    <label for="password" class="form-label">
                        Confirma tu nueva contraseña
                    </label>
                    <input type="password" class="form-control" id="password" name="new_password2" required>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary w-100">
                        Actualizar contraseña
                    </button>
                </div>
            </form>
        </div>
    </section>


{% endblock %}