{% extends "base.html" %}

{% block content_2 %}

    <section class="px-4 px-md-5 py-4">

        <h3 class="text-center text-dark mx-auto" style="max-width: 500px;">
            Correo de recuperación enviado
        </h3>

        <div class="mx-auto mt-4" style="max-width: 500px;">

            {% include "_messages.html" %}

            <p>Te enviamos el correo con las instrucciones para realizar el cambio.</p>
            <p> Si no lo has recibido, asegurate de haber ingresado correctamente tu dirección de correo</p>
        </div>
    </section>

{% endblock %}