{% extends "base.html" %}

{% block content_2 %}

    <section class="px-4 px-md-5 py-4">

        <h3 class="text-center text-dark mx-auto" style="max-width: 500px;">
            ¿Olvidaste tu contraseña?
        </h3>

        <div class="mx-auto mt-4" style="max-width: 500px;">

            {% include "_messages.html" %}

            <p>Para cambiar tu contraseña, confirma tu correo en el siguiente recuadro.
                Se te mandará un correo con un enlace para cambiar de contraseña. Asegúrate de revisar la carpeta de
                spam.
            </p>
            <p>¿No lo solicitaste tú? ¡No te preocupes! Solo el dueño del correo podrá realizar el cambio</p>

            <form action="" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <label for="id_email" class="form-label">Email</label>
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"class="form-control">
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-100" name="Send email">
                        Recuperar contraseña
                    </button>
                </div>
            </form>

        </div>

{% endblock %}