{% extends "base.html" %}

{% block content_2 %}

    <section class="px-4 px-md-5 py-4">

        <h3 class="text-center text-dark mx-auto" style="max-width: 500px;">
            Contraseña restaurada con éxito
        </h3>

        <div class="mx-auto mt-4" style="max-width: 500px;">

            {% include "_messages.html" %}

            <p>Ahora ya puedes iniciar sesión sin ningún problema</p>
            <div class="mt-3">
                <a href="{{ url('sign_in') }}" class="btn btn-primary w-100">
                    Iniciar sesión
                </a>
            </div>

        </div>

    </section>

{% endblock %}