{% extends "supervisor/layout.html" %}

{% block content %}

    <form class="d-block d-sm-flex d-md-block d-lg-flex align-items-end mb-4"
          action="{{ url('supervisor_attendances') }}" method="GET" style="gap: 1rem;">
        {% include 'supervisor/_filters.html' %}
    </form>

    {% if attendances %}

        <div class="d-flex justify-content-between mb-3 align-items-center">
            <p class="mb-0">{{ paginator.count }} asistencias encontradas.</p>
            <div class="d-none">
                <a href="" class="btn btn-outline-success">
                    Exportar en Excel
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Salida</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Visitas</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for attendance in attendances %}
                    <tr>
                        <!-- Seller name -->
                        <td>{{ attendance.user.get_full_name() }}</td>

                        <!--- Check in -->
                        <td>
                            {{ attendance.check_in_lima_time.weekday()|spanish_day_of_the_week }}
                            {{ attendance.check_in_lima_time.strftime('%d') }} de
                            {{ attendance.check_in_lima_time.month|spanish_month }}, 2025 <br>
                            {{ attendance.check_in_lima_time.strftime('%I:%M %p') }}
                            {% if attendance.latitude_check_in is not none and attendance.longitude_check_in is not none %}
                                <a href="{{ attendance.get_google_maps_link_check_in() }}" class="fw-semibold"
                                   target="_blank">
                                    (Ver ubicación)
                                </a>
                            {% else %}
                                <span class="text-dark-emphasis">(Sin ubicación)</span>
                            {% endif %}
                        </td>

                        <!-- Check out -->
                        <td>
                            {% if attendance.check_out %}
                                {{ attendance.check_out_lima_time.weekday()|spanish_day_of_the_week }}
                                {{ attendance.check_out_lima_time.strftime('%d') }} de
                                {{ attendance.check_out_lima_time.month|spanish_month }}, 2025 <br>
                                {{ attendance.check_out_lima_time.strftime('%I:%M %p') }}
                                {% if attendance.latitude_check_out is not none and attendance.longitude_check_out is not none %}
                                    <a href="{{ attendance.get_google_maps_link_check_out() }}" class="fw-semibold"
                                       target="_blank">
                                        (Ver ubicación)
                                    </a>
                                {% else %}
                                    <span class="text-dark-emphasis">(Sin ubicación)</span>
                                {% endif %}
                            {% else %}
                                <span class="text-danger">No registra salida</span>
                            {% endif %}
                        </td>

                        <!-- Duration -->
                        <td>
                            {{ attendance.duration.strftime('%H') }}h
                            {{ attendance.duration.strftime('%M') }}m
                        </td>

                        <!-- Visits -->
                        <td>
                            <a href="{{ url('supervisor_visits') }}?from_date={{ attendance.check_in_lima_time.date() }}&supervised_user_filter=


                                    {{ attendance.user.id }}{{ '&to_date=' ~ attendance.check_out_lima_time.date() if attendance.check_out else '' }}"
                               class="fw-medium">
                                {{ attendance.get_visits_count() }} visitas
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
        {% with iterable_object=attendances, iterable_link="supervisor_attendances" %}
                {% include "_paginator.html" %}
            {% endwith %}
        </div>
    {% else %}
        <p>No se han encontrado asistencias que cumplan con los filtros</p>
    {% endif %}

{% endblock %}