{% extends "supervisor/layout.html" %}

{% block content %}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Cliente</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Inicio</th>
                <th scope="col">Fin</th>
                <th scope="col"># de productos</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for visit in visits %}
                <tr>
                <td>#{{ visit.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}