<div style="background-color: #F8FAFA;">

    <div style="background-color: #1061A0; max-width: 500px; margin: auto; padding: 1.5rem 2rem; text-align: center">
        <img src="https://diphasac.com/images/Diphasac-logo.svg" alt="" width="200">
    </div>
    <div style="background-color: white; max-width: 500px; margin: auto; padding: 1.5rem;">
        <p style="font-weight: 600; color: #192325;">¡Hola {{ user.first_name }}!</p>
        <p style="color: #192325;">
            Solicitaste un cambio de contraseña. Si fuiste tú, ingresa
            al siguiente enlace para cambiar tu contraseña
        </p>
        <div style="text-align: center; margin-bottom: 1.5rem; margin-top: 1.5rem;">
            <a href="{{ protocol }}://{{ domain }}{{ url('password_reset_confirm', args=[uid, token]) }}"
               style="background-color: #00A88F; color: #F8FAFA; border-radius: 5px; font-weight: 600; padding: 1rem 1.5rem; text-decoration: none">
                Recuperar contraseña
            </a>
        </div>
        <p style="color: #192325;">Diphasac</p>
    </div>

</div>
