<div style="background-color: #F8FAFA;">

    <div style="background-color: #1061A0; max-width: 500px; margin: auto; padding: 1.5rem 2rem; text-align: center">
        <img src="https://diphasac.com/images/Diphasac-logo.svg" alt="" width="200">
    </div>
    <div style="background-color: white; max-width: 500px; margin: auto; padding: 1.5rem;">
        <p style="font-weight: 600; color: #192325;">¡Hola {{nombre}}!</p>
        <p style="color: #192325;">
            {{body}}
        </p>
        <p style="color: #192325;">Diphasac</p>
    </div>

</div>
